.input-form {
  border-radius: 6px;
  border: 1px solid #dcdddf;
  outline: none;
  padding-left: 5px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.input-form::placeholder {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}
