.post-description {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: 10px 300px;

  &-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    color: #181a2a;
  }

  .wrapper-category-date {
    display: flex;
    justify-content: space-between;

    .post-description-category,
    .post-description-date {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #696a75;
    }
  }

  &-subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #181a2a;
  }

  &-photo {
    height: 462px;
    border-radius: 12px;
    object-fit: cover;
  }

  &-article {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #3b3c4a;
    text-align: justify;
  }
}
